@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
* {
  background-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.heading h1 {
  padding: 30px 0;
  font-size: 60px;
  text-align: center;
  color: red;
  font-family:'Anton', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 30px;
  font-weight: 100;
  text-transform: uppercase;
}

.cards {
  display: inline-block;
  align-content: center;
  text-align: center;
  margin-left: 12px;
}

.card img {
  max-width: 300px;
  max-height: 300px;
  border-radius: 10px;
  align-content: center;
  margin: 30px;
}

.card img:hover {
  transform: scale(1.25);
}

button {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  background-color: red;
  color: white;
}
button:hover {
  background-color: #580000;
}
h4 {
  font-size: 40px;
  padding: 30px;
  color: Orange;
  text-align: center;
}

.card__category {
  font-size: 25px;
  color: yellow;
  padding: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.card__title {
  font-size: 20px;
  color: #ff0000;
  text-transform: uppercase;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
